<a href="https://colab.research.google.com/github/IrvinVF/Examen-1/blob/main/Examen_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Irvin Vásquez Figueroa
A01541101
Examen de Programación

*Microretailer*

In [15]:
#Importamos las librerías pandas. numpy y matplotlib respectivamente.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [106]:
#Cargar achivo csv desde equipo
from google.colab import files
files.upload()

Saving lastmile_delivery_operations_mit_lift_lab_serving_customer.csv to lastmile_delivery_operations_mit_lift_lab_serving_customer (1).csv

{'lastmile_delivery_operations_mit_lift_lab_serving_customer.csv': b'_child_record_id,_record_id,_parent_id,_title,_version,_created_at,_updated_at,_created_by,_updated_by,_index,_geometry,_latitude,_longitude,_changeset_id,_created_duration,_updated_duration,_edited_duration,name_of_the_store,entering_the_store,number_of_customers_in_store,number_of_suppliers_in_store,picture_cargo_being_delivered,picture_cargo_being_delivered_captions,picture_cargo_being_delivered_urls,number_of_cases_boxes_delivered,trolley_in_use,leaving_the_store\n12645bc3-33b6-4cc0-9c8e-9d8e6f35aa01,04e64464-3fbd-4ce1-99d8-5364e1567e8c,04e64464-3fbd-4ce1-99d8-5364e1567e8c,La fete,1,2022-11-12 18:00:54 UTC,2022-11-12 18:02:03 UTC,Juan Carlos Bejarano Moreno,Juan Carlos Bejarano Moreno,0,SRID=4326;POINT(-98.2338643 19.0596667),19.0596667,-98.2338643,1f557f2f-5ba3-4de9-aa53-86fc8bc120eb,61,3,64,La fete,23:50,1,1,"https://web.fulcrumapp.com/photos/view?photos=9d0cc14b-175b-4c67-b0fb-9f517e1f1f86,c629d43a-3d41-4515-b8a6-7251b2f087c6",",","https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=9d0cc14b-175b-4c67-b0fb-9f517e1f1f86&type=photo&expires=1668469950&signature=G17yucdxp9zMUKLKh3raLPGHoaO0xr5SUG00nIQ5jEY%3D,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=c629d43a-3d41-4515-b8a6-7251b2f087c6&type=photo&expires=1668469950&signature=HiPhMh%2FBUmZcZNoOCCT89yuk1ZGdAoShdHZCBk5d%2BSs%3D",15,no,12:12\nbe0fc402-769c-41f8-90f1-1b0c9f151e7a,cda7b134-7827-4830-9337-53f46be4f8b4,cda7b134-7827-4830-9337-53f46be4f8b4,Casa Flores ,1,2022-11-12 16:54:27 UTC,2022-11-12 16:55:48 UTC,Juan Carlos Bejarano Moreno,Juan Carlos Bejarano Moreno,0,SRID=4326;POINT(-98.2294218 19.0530488),19.0530488,-98.2294218,6cbfadf7-671c-4a48-8ac4-0ad1e94d426a,80,80,80,Casa Flores ,10:35,0,2,"https://web.fulcrumapp.com/photos/view?photos=11b993df-c41f-4cff-93f9-4a3b9453e261,a7ab1451-c44a-41d2-9f7f-fc5be6b4f853",",","https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=11b993df-c41f-4cff-93f9-4a3b9453e261&type=photo&expires=1668469950&signature=tz%2FaYjegv0RF0jYTav%2F3%2FCXhuSFqFMO1gEafuWdLazo%3D,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=a7ab1451-c44a-41d2-9f7f-fc5be6b4f853&type=photo&expires=1668469950&signature=I4oX8DRuCg95QUpQrlzASixgZTI7uMOiVbkrWnLdDjw%3D",35,no,11:00\n634bbd94-8159-4733-973a-36ab89fb95d4,cbaab095-ad31-4145-804b-ddc218681802,cbaab095-ad31-4145-804b-ddc218681802,Super deux,1,2022-11-12 16:43:26 UTC,2022-11-12 16:45:00 UTC,Juan Carlos Bejarano Moreno,Juan Carlos Bejarano Moreno,0,SRID=4326;POINT(-98.232677 19.0517402),19.0517402,-98.232677,e4868227-703c-4c41-b9fe-31fad435c1f9,25,61,86,Super deux,10:35,0,1,https://web.fulcrumapp.com/photos/view?photos=23de48ff-9c14-4965-a13b-edc1fd853de8,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=23de48ff-9c14-4965-a13b-edc1fd853de8&type=photo&expires=1668469950&signature=S7JLSbdPZWU90i8mzUNNxXliPiqYmfcd1gCIo9r7bp4%3D,12,no,10:50\ncf8e05ea-0af9-4a66-9d8b-27c0cf572236,68b5ecad-36b0-4172-b2b3-43aebd0485ec,68b5ecad-36b0-4172-b2b3-43aebd0485ec,Dansk,1,2022-11-12 16:37:55 UTC,2022-11-12 16:38:54 UTC,Juan Carlos Bejarano Moreno,Juan Carlos Bejarano Moreno,0,SRID=4326;POINT(-98.2339909 19.0529905),19.0529905,-98.2339909,644c5a56-bd04-4959-afc3-017fbb7112e6,41,7,48,Dansk,10:22,0,1,https://web.fulcrumapp.com/photos/view?photos=81665316-79d4-482f-9ae5-196bf5391de8,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=81665316-79d4-482f-9ae5-196bf5391de8&type=photo&expires=1668469950&signature=KqUIzMGYNsGC6L6df3d3fg5T%2BeQk3joiI8dhucHtmeo%3D,3,no,10:43\na1ff05ef-fe15-472e-ad6d-537c951afce4,3b19bb47-17f0-4d33-aa27-cf6890bacfe5,3b19bb47-17f0-4d33-aa27-cf6890bacfe5,Ink Factory,1,2022-11-12 16:19:57 UTC,2022-11-12 16:21:14 UTC,Juan Carlos Bejarano Moreno,Juan Carlos Bejarano Moreno,0,SRID=4326;POINT(-98.2301302 19.0553894),19.0553894,-98.2301302,de88df96-b59b-4aca-bb27-5817dd9ddda0,76,76,76,Ink Factory,10:13,0,1,https://web.fulcrumapp.com/photos/view?photos=9aa55a18-ba9f-43a2-9a89-e136c5a186b3,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=9aa55a18-ba9f-43a2-9a89-e136c5a186b3&type=photo&expires=1668469950&signature=bk2mE9wB2U9HCPJzxqlHVuXgzfgl6CNRDOFEMW%2Fc5Gs%3D,1,yes,10:33\n9e96f584-f5b2-4e7d-a754-a34fc89d5139,2b8a179a-521c-4ee3-a5ef-241fd1972b01,2b8a179a-521c-4ee3-a5ef-241fd1972b01,Breaking Bread Coffee,1,2022-11-12 15:59:13 UTC,2022-11-12 16:00:07 UTC,Juan Carlos Bejarano Moreno,Juan Carlos Bejarano Moreno,0,SRID=4326;POINT(-98.2271606 19.0531043),19.0531043,-98.2271606,3bb014cc-8973-49bb-9942-924bc871ddb9,53,53,53,Breaking Bread Coffee,09:48,7,1,https://web.fulcrumapp.com/photos/view?photos=8a2db0a8-f1fe-4f42-a807-ee41f1c49fee,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=8a2db0a8-f1fe-4f42-a807-ee41f1c49fee&type=photo&expires=1668469950&signature=xw%2BNysSczeZm5%2F6FwkeHREEK4MCCx8cTZSfPJywFtrM%3D,3,no,10:06\n531eb119-cab7-4ba9-8a25-489e91ec2a5a,3aa26fc8-4373-4387-ac50-4f7b0d417107,3aa26fc8-4373-4387-ac50-4f7b0d417107,Abarrotes vinos y licores La ranita ,1,2022-11-10 18:31:16 UTC,2022-11-11 01:23:59 UTC,Sandra Carre\xc3\xb3n,Sandra Carre\xc3\xb3n,0,SRID=4326;POINT(-98.20348740564492 19.04590290506943),19.04590290506943,-98.20348740564492,0348df3f-5259-4d89-a718-46c32bd656f0,0,8,8,Abarrotes vinos y licores La ranita ,12:29,1,1,,,,3,no,12:33\n17995e32-9ed3-4a27-8da3-b4e1d942ad36,5288fd44-2899-4765-9195-3f866d2e6d45,5288fd44-2899-4765-9195-3f866d2e6d45,Abarrotes vinos y licores La ranita ,1,2022-11-11 04:30:19 UTC,2022-11-11 05:27:33 UTC,Sandra Carre\xc3\xb3n,Sandra Carre\xc3\xb3n,0,SRID=4326;POINT(-98.20328097193406 19.02348801265978),19.02348801265978,-98.20328097193406,eeddf981-d881-474d-b3a4-154d38765c43,0,4,4,Abarrotes vinos y licores La ranita ,12:56,2,1,,,,3,no,13:01\n009bf340-321a-4739-84b4-d80029770d10,d1662ccd-4787-4c38-969a-a9e8a01ad1c2,d1662ccd-4787-4c38-969a-a9e8a01ad1c2,Mony,1,2022-11-11 22:44:44 UTC,2022-11-11 22:46:40 UTC,Sandra Carre\xc3\xb3n,Sandra Carre\xc3\xb3n,0,SRID=4326;POINT(-98.19369792680496 19.046458906552267),19.046458906552267,-98.19369792680496,9f1c577d-d44e-46c7-a12c-b8eb349ecf48,0,116,116,Mony,16:28,2,1,,,,2,no,16:28\nc78336c3-d0ab-4e08-bc2e-f15af41f76fb,6f431744-a51b-4b36-b33f-13fb860ef131,6f431744-a51b-4b36-b33f-13fb860ef131,Tomales y molino Anita,1,2022-11-04 21:57:43 UTC,2022-11-04 22:11:37 UTC,Jos\xc3\xa9 Varela,Jos\xc3\xa9 Varela,0,SRID=4326;POINT(-98.3105623 19.0658682),19.0658682,-98.3105623,c63f354b-3913-4716-bc54-f14b3b223b4c,624,624,624,Tomales y molino Anita,16:02,3,2,https://web.fulcrumapp.com/photos/view?photos=390d09af-5605-4456-8246-1aa02c7a825a,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=390d09af-5605-4456-8246-1aa02c7a825a&type=photo&expires=1668469950&signature=gv4Z8JNr0lgjb1jtJk7An7ir2fBLUOYQkmu3zN4kq58%3D,11,yes,16:19\na616737c-bcb2-4ad0-a82a-4ca917fab0fc,56562b58-bfeb-4165-8e3b-7bc0a5a224cf,56562b58-bfeb-4165-8e3b-7bc0a5a224cf,La michoacana,1,2022-11-04 21:49:56 UTC,2022-11-04 21:52:44 UTC,Jos\xc3\xa9 Varela,Jos\xc3\xa9 Varela,0,SRID=4326;POINT(-98.3113028 19.0645079),19.0645079,-98.3113028,c63f354b-3913-4716-bc54-f14b3b223b4c,167,167,167,La michoacana,15:40,2,2,https://web.fulcrumapp.com/photos/view?photos=6b59af09-95af-4e2f-a783-510ea5279b5c,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=6b59af09-95af-4e2f-a783-510ea5279b5c&type=photo&expires=1668469950&signature=1Q1qoPexxmHE%2BldG23Xx%2BgiuG%2FjMd0iYdpACvjpxWpc%3D,12,yes,15:55\n8e4d79db-4fa9-4c83-ba72-88b109a2a71b,af1d6ac9-3e31-42de-a4d2-873c080b8766,af1d6ac9-3e31-42de-a4d2-873c080b8766,Los globos ,1,2022-11-10 17:33:57 UTC,2022-11-10 17:36:08 UTC,Sandra Carre\xc3\xb3n,Sandra Carre\xc3\xb3n,0,SRID=4326;POINT(-98.20425514008605 19.04738530914319),19.04738530914319,-98.20425514008605,0348df3f-5259-4d89-a718-46c32bd656f0,0,130,130,Los globos ,11:21,9,1,,,,5,yes,11:30\n89943c66-9129-458f-a295-6ecc61b4dfa2,9eac0dba-fb4b-4947-ba68-c406dadb6887,9eac0dba-fb4b-4947-ba68-c406dadb6887,Muebles Bustos,1,2022-11-10 16:26:45 UTC,2022-11-10 16:32:13 UTC,Sandra Carre\xc3\xb3n,Sandra Carre\xc3\xb3n,0,SRID=4326;POINT(-98.20005008882984 19.04881856842529),19.04881856842529,-98.20005008882984,0348df3f-5259-4d89-a718-46c32bd656f0,0,11,11,Muebles Bustos,10:15,0,1,,,,24,no,10:32\n044b47df-e630-4ca7-ac15-2ba322760aae,e3de2e0f-79f4-4698-a6e4-064aa921a5fb,e3de2e0f-79f4-4698-a6e4-064aa921a5fb,Gaspachos Morelianos,1,2022-11-10 17:35:22 UTC,2022-11-10 17:36:41 UTC,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,0,SRID=4326;POINT(-98.27405971141629 18.999429285141723),18.999429285141723,-98.27405971141629,e6356adb-d00a-4884-bf1c-ba51ad541c69,0,78,78,Gaspachos Morelianos,11:35,1,3,https://web.fulcrumapp.com/photos/view?photos=d131f96e-7cd0-421a-95b5-3fa6b8bad3dd,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=d131f96e-7cd0-421a-95b5-3fa6b8bad3dd&type=photo&expires=1668469950&signature=pYLjGJ66CCKfdw94P5CxcBNsbrPB6KSdV3T3Dxobwt4%3D,8,no,11:55\n98e21e5a-b7cc-4314-813e-b4cd016fbe67,75037107-c676-446a-ba1d-ab04881a6f67,75037107-c676-446a-ba1d-ab04881a6f67,Factory Blinds ,1,2022-11-10 17:35:17 UTC,2022-11-10 17:36:04 UTC,Jos\xc3\xa9 L\xc3\xb3pez,Jos\xc3\xa9 L\xc3\xb3pez,0,SRID=4326;POINT(-98.27407890055497 18.9994257134666),18.9994257134666,-98.27407890055497,d12e4521-9723-4771-b5b2-b7cb56cf53e4,0,46,46,Factory Blinds ,11:35,2,1,https://web.fulcrumapp.com/photos/view?photos=314ac6b1-4d10-41d0-9166-069930e4d803,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=314ac6b1-4d10-41d0-9166-069930e4d803&type=photo&expires=1668469950&signature=kAtIySOTTnZHvgqHME4EodEEWl0%2Fe7hOt35W67IBjAo%3D,2,no,11:40\neb6170a1-74f1-4dca-ba9b-53614e8ce1e9,3b3b959a-bc54-4825-8d79-f8e957a0355b,3b3b959a-bc54-4825-8d79-f8e957a0355b,Cabo San Lucas,1,2022-11-10 17:25:17 UTC,2022-11-10 17:26:07 UTC,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,0,SRID=4326;POINT(-98.26567356599786 19.00608812417122),19.00608812417122,-98.26567356599786,455ed590-a367-4fec-8d5c-c90516555fe2,0,50,50,Cabo San Lucas,11:31,2,5,,,,10,yes,11:38\n83fd3b7d-52b4-45d0-8f25-df98b6229aed,1464422d-78c5-4cfa-afa6-5bf569e882d2,1464422d-78c5-4cfa-afa6-5bf569e882d2,Postrecitos lindos ,1,2022-11-10 17:21:02 UTC,2022-11-10 17:21:59 UTC,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,0,SRID=4326;POINT(-98.2656817442499 19.006137038597203),19.006137038597203,-98.2656817442499,d834689b-b029-41ea-874a-786e6deb0bfe,0,56,56,Postrecitos lindos ,11:30,0,2,,,,6,yes,11:38\ne45b69e0-5250-403b-a1f4-54daf1427ff8,98008626-eea4-4f9a-ab80-de6e7c716207,98008626-eea4-4f9a-ab80-de6e7c716207,Stop by ramen ,1,2022-11-10 17:20:56 UTC,2022-11-10 17:21:37 UTC,Jos\xc3\xa9 L\xc3\xb3pez,Jos\xc3\xa9 L\xc3\xb3pez,0,SRID=4326;POINT(-98.26567025179664 19.006115003328492),19.006115003328492,-98.26567025179664,81f1dcc0-9892-425f-a42c-bc9d3827524e,0,41,41,Stop by ramen ,11:21,0,1,https://web.fulcrumapp.com/photos/view?photos=6b7a1efa-8b72-446f-b276-2b21e185e51a,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=6b7a1efa-8b72-446f-b276-2b21e185e51a&type=photo&expires=1668469950&signature=HTFdlO4RIo2vN59%2FYMq5nS3IckiCb6jLGtIZkWYtXZY%3D,2,no,11:30\n7c0e3d41-b490-4940-8286-15fa3d8a5726,897dd608-be28-4337-b503-5dc70df1e2de,897dd608-be28-4337-b503-5dc70df1e2de,S\xc3\xbaper boom,1,2022-11-10 17:11:09 UTC,2022-11-10 17:11:51 UTC,Jos\xc3\xa9 L\xc3\xb3pez,Jos\xc3\xa9 L\xc3\xb3pez,0,SRID=4326;POINT(-98.2665018576936 19.004100753684952),19.004100753684952,-98.2665018576936,2b18d917-7c1f-4e63-aa12-88f19203e347,0,41,41,S\xc3\xbaper boom,11:11,3,1,https://web.fulcrumapp.com/photos/view?photos=35300f8d-7977-417c-8aab-762366d83ff0,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=35300f8d-7977-417c-8aab-762366d83ff0&type=photo&expires=1668469950&signature=7rWRMKNyLYFxzrQ5XlWyfV%2FUGwjuozvxR8Y3WlXr1uU%3D,4,no,11:14\n1788e007-9b6b-4cc4-aaf7-35d1b8143f32,f9dd984b-722a-4c26-aaef-d8ad2dff57b6,f9dd984b-722a-4c26-aaef-d8ad2dff57b6,Tr\xc3\xadpoli ,1,2022-11-10 17:05:04 UTC,2022-11-10 17:06:25 UTC,Jos\xc3\xa9 L\xc3\xb3pez,Jos\xc3\xa9 L\xc3\xb3pez,0,SRID=4326;POINT(-98.2664907961389 19.004110110773915),19.004110110773915,-98.2664907961389,0d676fa7-0527-46e4-9804-7e22bbd87474,0,81,81,Tr\xc3\xadpoli ,10:43,2,1,https://web.fulcrumapp.com/photos/view?photos=0ca0bc05-71fd-4177-a89f-853bbb1ea72d,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=0ca0bc05-71fd-4177-a89f-853bbb1ea72d&type=photo&expires=1668469950&signature=g8I0bskRB%2B7JXioAKArKVdz7fMds0cYObsu7fHecogk%3D,2,no,11:56\nc98cae40-7553-4755-a0f8-a51fbe275d12,94b03890-ef1b-4e87-bf0d-42bb64babb73,94b03890-ef1b-4e87-bf0d-42bb64babb73,La Medina,1,2022-11-10 17:01:02 UTC,2022-11-10 17:02:19 UTC,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,0,SRID=4326;POINT(-98.26618774968892 19.004502868441776),19.004502868441776,-98.26618774968892,1969525e-6664-4d85-b504-68e8e7235f31,0,76,76,La Medina,11:08,4,3,https://web.fulcrumapp.com/photos/view?photos=1c13931e-56d1-4568-a60e-9467d8406ff8,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=1c13931e-56d1-4568-a60e-9467d8406ff8&type=photo&expires=1668469950&signature=Mb1ht5pai81RBX1GXo8%2FubcQrabr1csXl4L%2BDLQKuSo%3D,6,no,11:25\n348702bf-ec37-436e-ba06-fe8e54abab13,0494e54e-1037-4788-9e37-b6bab949011b,0494e54e-1037-4788-9e37-b6bab949011b,S\xc3\xbaper boom ,1,2022-11-10 17:00:44 UTC,2022-11-10 17:01:25 UTC,Jos\xc3\xa9 L\xc3\xb3pez,Jos\xc3\xa9 L\xc3\xb3pez,0,SRID=4326;POINT(-98.26620398606103 19.004480731987954),19.004480731987954,-98.26620398606103,abb539b2-d33a-4b9c-a51e-fcaff8ff47f5,0,40,40,S\xc3\xbaper boom ,11:00,4,2,https://web.fulcrumapp.com/photos/view?photos=d7b48f57-477f-473f-b031-3e67cd1b5936,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=d7b48f57-477f-473f-b031-3e67cd1b5936&type=photo&expires=1668469950&signature=kc1FsTBG6xX5SFLaPo8P%2By%2BXnShu6PFXErlAUyIN8ww%3D,5,yes,11:20\n383c55fc-f202-4a79-9425-eb7122d5e5e3,49b79862-d297-4391-bc6e-3e6d8b32d54a,49b79862-d297-4391-bc6e-3e6d8b32d54a,La Voila ,1,2022-11-10 16:47:11 UTC,2022-11-10 16:48:20 UTC,Jos\xc3\xa9 L\xc3\xb3pez,Jos\xc3\xa9 L\xc3\xb3pez,0,SRID=4326;POINT(-98.27483802479486 18.999598295169204),18.999598295169204,-98.27483802479486,daf03321-dd07-47fc-9f3f-dfc6b098d7ab,0,68,68,La Voila ,10:47,0,1,https://web.fulcrumapp.com/photos/view?photos=dbe1e74e-4a9f-4c4e-bd33-3e8d6d287311,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=dbe1e74e-4a9f-4c4e-bd33-3e8d6d287311&type=photo&expires=1668469950&signature=wz1KUm%2FisrjGv43gxzCKI9wMMfmpqiY4LzQgN2fefC0%3D,2,no,11:02\n9b280ed5-61df-497d-8f64-7b847a08e0ea,be7db0e0-83ad-4486-aa8f-7d31402c2b92,be7db0e0-83ad-4486-aa8f-7d31402c2b92,Abastessen,1,2022-11-10 16:37:01 UTC,2022-11-10 16:38:01 UTC,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,0,SRID=4326;POINT(-98.27189571866822 19.00184227420202),19.00184227420202,-98.27189571866822,fecc2c99-9ba7-4af4-9e52-a943e0528b04,0,60,60,Abastessen,10:50,0,2,https://web.fulcrumapp.com/photos/view?photos=c33cb948-cdff-4b7c-83b7-319d9482b855,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=c33cb948-cdff-4b7c-83b7-319d9482b855&type=photo&expires=1668469950&signature=nLdhEswCVxmyl0DfGLdlNaWDsc97VB7XY1d1uYAqOkM%3D,5,yes,11:10\n17b5c8ed-6501-43bc-b16f-5008cdeb95d7,27bd6132-61df-496d-b780-9db89359dfc8,27bd6132-61df-496d-b780-9db89359dfc8,La central ,1,2022-11-10 16:36:26 UTC,2022-11-10 16:37:10 UTC,Jos\xc3\xa9 L\xc3\xb3pez,Jos\xc3\xa9 L\xc3\xb3pez,0,SRID=4326;POINT(-98.27208717829416 19.00173048036127),19.00173048036127,-98.27208717829416,4d56086b-ac55-40e9-93f9-bfce5910928d,0,43,43,La central ,10:35,2,1,https://web.fulcrumapp.com/photos/view?photos=e659eb18-f313-4c1f-b81d-45376cadb617,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=e659eb18-f313-4c1f-b81d-45376cadb617&type=photo&expires=1668469950&signature=TctmoJnr8K8gnl9hvD9beGfpPDzZ8FDE7%2BYoOOWQqxo%3D,2,no,11:00\n1143e8d5-91ca-4d13-9a25-6f1b728bb91b,e648abf8-df90-46a2-af06-ee5d9662078d,e648abf8-df90-46a2-af06-ee5d9662078d,S\xc3\xbaper Boom,1,2022-11-10 16:23:43 UTC,2022-11-10 16:25:17 UTC,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,0,SRID=4326;POINT(-98.26648594336065 19.005120083105336),19.005120083105336,-98.26648594336065,7032587e-d42b-402d-84b1-bf5341809da6,0,94,94,S\xc3\xbaper Boom,10:32,1,2,https://web.fulcrumapp.com/photos/view?photos=fe6466c3-efd0-43ef-bdc3-c710bce8cd91,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=fe6466c3-efd0-43ef-bdc3-c710bce8cd91&type=photo&expires=1668469950&signature=T030BagSoYkWHkRkResbJwyza%2F5zEYEywuu0SJ%2FzdNk%3D,3,no,10:46\nb0f64dbe-1ef5-415a-a91a-c470c255b68d,cfb746bd-5e38-4361-9f45-be1af04f11da,cfb746bd-5e38-4361-9f45-be1af04f11da,Tripoli ,1,2022-11-10 16:18:50 UTC,2022-11-10 16:19:47 UTC,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,Mariana S\xc3\xa1enz G\xc3\xb3mez Ortigoza,0,SRID=4326;POINT(-98.26759626535545 19.00565243339718),19.00565243339718,-98.26759626535545,7c3ec9bd-d014-468c-8bad-0a6c7588dd9f,0,57,57,Tripoli ,09:32,0,2,https://web.fulcrumapp.com/photos/view?photos=12143632-85df-42e1-9eba-c8e5dce5f04e,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=12143632-85df-42e1-9eba-c8e5dce5f04e&type=photo&expires=1668469950&signature=41vBeq52vMdUkuqz94pXH7jgtKSQx8GQ%2Fmq5ET%2B9hIU%3D,4,no,10:11\nf1c82664-47a4-480f-a242-bfa2d81c0d07,a626a0df-ca03-4bc9-b0c7-9d1df43daafa,a626a0df-ca03-4bc9-b0c7-9d1df43daafa,Nussett,1,2022-11-10 16:14:35 UTC,2022-11-10 16:16:12 UTC,Jos\xc3\xa9 L\xc3\xb3pez,Jos\xc3\xa9 L\xc3\xb3pez,0,SRID=4326;POINT(-98.26761701153431 19.005691981889438),19.005691981889438,-98.26761701153431,8ac023b6-3ac2-4286-98c5-60bf31e2d644,0,97,97,Nussett,10:14,0,1,https://web.fulcrumapp.com/photos/view?photos=83b0b9a0-4f5c-4f42-9df8-60a9d8ab1a86,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=83b0b9a0-4f5c-4f42-9df8-60a9d8ab1a86&type=photo&expires=1668469950&signature=Op1i4YCe6zisywFwb5etkPvqE2B0PPRAUc3YcjXiz58%3D,4,no,10:30\n613cb0b4-7aa9-478b-a8bd-f80b31ff18e4,119a1eaf-2d72-4792-94dd-23451e9daaec,119a1eaf-2d72-4792-94dd-23451e9daaec,Tamales Don Ignacio ,1,2022-11-10 15:39:35 UTC,2022-11-10 15:41:17 UTC,Jos\xc3\xa9 L\xc3\xb3pez,Jos\xc3\xa9 L\xc3\xb3pez,0,SRID=4326;POINT(-98.26677136261554 19.00407882201115),19.00407882201115,-98.26677136261554,d694602e-4c1b-41a4-9a3c-c1153cd630b0,0,2,2,Tamales Don Ignacio ,09:40,1,0,https://web.fulcrumapp.com/photos/view?photos=ca85075d-445c-460f-8578-2668d5bdea03,,https://web.fulcrumapp.com/api/v2/file?context=fcbcb555-eb79-4ab2-aeb3-a6428c0f421d&id=ca85075d-445c-460f-8578-2668d5bdea03&type=photo&expires=1668469950&signature=%2BLbRS1S9Gej0HplqqSjG4gHNKXwG5tLQbKPlVeYaB2w%3D,2,no,09:57\ne00ade25-e31b-410f-aed1-0aea780ea3ff,dda5dde0-71ac-4d49-a19d-f9194bf76666,dda5dde0-71ac-4d49-a19d-f9194bf76666,Aqua clyva,1,2022-11-09 22:02:13 UTC,2022-11-09 22:08:11 UTC,Juan Sp\xc3\xadnola,Juan Sp\xc3\xadnola,0,SRID=4326;POINT(-98.2493349482064 19.02668825832213),19.02668825832213,-98.2493349482064,ae8d67ce-c039-4118-8ab6-d1f8070d20bd,0,309,309,Aqua clyva,16:02,0,1,,,,2,no,16:08\n7a620a44-774b-49ca-b340-b905328703d3,28a2af8e-8b1d-4acf-a077-0945049e826c,28a2af8e-8b1d-4acf-a077-0945049e826c,San Juditas ,1,2022-11-09 22:14:50 UTC,2022-11-09 22:21:12 UTC,Luis Lara,Luis Lara,0,SRID=4326;POINT(-98.24903089562268 19.025176134906843),19.025176134906843,-98.249030895

In [32]:
#Y ahora, se convierte en dataframe
datosmicro=pd.read_excel('microretailer_mit_lift_lab.xlsx')
datosmicro

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,228_store_name,229_store_picture,232_type_of_store,...,261_technology_organization,262_technology_serve_customers,263_technology_secure_sales,264_technology_budget,267_technology_investment_customer_preferences,234_willingness_participate_workshop,318_shopkeeper_name,319_shopkeepers_last_name,236_whatsapp,235_email
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),19.053536,-98.233822,Eugene’s Compostura,1 Photo,Tailor,...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),19.053561,-98.234142,Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),19.058655,-98.232300,Libélula,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),19.059293,-98.233158,Quality fix,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),19.059585,-98.233864,Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2413f06e-15cc-4a6f-8e83-5224c6824b12,"November 3, 2022",2022-11-03 16:50:48 UTC,Emilio Garza,SRID=4326;POINT(-98.1940658722 19.0431145635),19.043115,-98.194066,July Store,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,962bf5a6-1eff-4874-a627-9cd8e3ca27b4,"November 3, 2022",2022-11-03 16:28:15 UTC,Emilio Garza,SRID=4326;POINT(-98.1938023854 19.0427938182),19.042794,-98.193802,Miscelánea rubí,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,9ff658db-4dc5-48b6-aa0b-5c6668bb6720,"November 3, 2022",2022-11-03 16:28:14 UTC,Emilio Garza,SRID=4326;POINT(-98.1934387078 19.0428094171),19.042809,-98.193439,La fonda,1 Photo,Micro-restaurant (aka. fondita),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,e88aa9c1-dc8b-4180-99a1-2e0118ad905d,"November 3, 2022",2022-11-03 16:18:37 UTC,Francisco Adán,SRID=4326;POINT(-98.193818 19.042558),19.042558,-98.193818,"Birria de Res ""Hermanos Negreros 2"" estilo Tij...",1 Photo,Micro-restaurant (aka. fondita),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,bf720ff0-3b7d-47ed-ba49-f5d4bfb7293c,"November 3, 2022",2022-11-03 16:15:13 UTC,Emilio Garza,SRID=4326;POINT(-98.1937349172 19.0428229892),19.042823,-98.193735,Restaurante el alfeñique,1 Photo,Micro-restaurant (aka. fondita),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#Identificar valores nulos por columna donde nos damos cuenta que existen varias columnas con valores nulos
valores_nulos_datosmicro=datosmicro.isnull().sum()
valores_nulos_datosmicro

_record_id                                0
_title                                    0
_server_updated_at                        0
_updated_by                               0
_geometry                                 0
                                       ...
234_willingness_participate_workshop     73
318_shopkeeper_name                     123
319_shopkeepers_last_name               125
236_whatsapp                            129
235_email                               142
Length: 106, dtype: int64

***Bfill para valores nulos/Outlier con cuantiles***

In [34]:

#Los valores nulos serán cambiados por valores de la fila anterior con el Bfill, para así ya no tener espacios vacíos.






datosmicro_limpio=datosmicro.fillna(method="bfill")
datosmicro_limpio

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,228_store_name,229_store_picture,232_type_of_store,...,261_technology_organization,262_technology_serve_customers,263_technology_secure_sales,264_technology_budget,267_technology_investment_customer_preferences,234_willingness_participate_workshop,318_shopkeeper_name,319_shopkeepers_last_name,236_whatsapp,235_email
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),19.053536,-98.233822,Eugene’s Compostura,1 Photo,Tailor,...,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09,fer.escobedo.meneses@gmail.com
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),19.053561,-98.234142,Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),...,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09,fer.escobedo.meneses@gmail.com
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),19.058655,-98.232300,Libélula,1 Photo,Grocery store (aka. nanostore),...,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09,fer.escobedo.meneses@gmail.com
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),19.059293,-98.233158,Quality fix,1 Photo,Grocery store (aka. nanostore),...,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09,fer.escobedo.meneses@gmail.com
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),19.059585,-98.233864,Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),...,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09,fer.escobedo.meneses@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2413f06e-15cc-4a6f-8e83-5224c6824b12,"November 3, 2022",2022-11-03 16:50:48 UTC,Emilio Garza,SRID=4326;POINT(-98.1940658722 19.0431145635),19.043115,-98.194066,July Store,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,962bf5a6-1eff-4874-a627-9cd8e3ca27b4,"November 3, 2022",2022-11-03 16:28:15 UTC,Emilio Garza,SRID=4326;POINT(-98.1938023854 19.0427938182),19.042794,-98.193802,Miscelánea rubí,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,9ff658db-4dc5-48b6-aa0b-5c6668bb6720,"November 3, 2022",2022-11-03 16:28:14 UTC,Emilio Garza,SRID=4326;POINT(-98.1934387078 19.0428094171),19.042809,-98.193439,La fonda,1 Photo,Micro-restaurant (aka. fondita),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,e88aa9c1-dc8b-4180-99a1-2e0118ad905d,"November 3, 2022",2022-11-03 16:18:37 UTC,Francisco Adán,SRID=4326;POINT(-98.193818 19.042558),19.042558,-98.193818,"Birria de Res ""Hermanos Negreros 2"" estilo Tij...",1 Photo,Micro-restaurant (aka. fondita),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,bf720ff0-3b7d-47ed-ba49-f5d4bfb7293c,"November 3, 2022",2022-11-03 16:15:13 UTC,Emilio Garza,SRID=4326;POINT(-98.1937349172 19.0428229892),19.042823,-98.193735,Restaurante el alfeñique,1 Photo,Micro-restaurant (aka. fondita),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#Revisar ahora valores nulos por columna para confiramr como se hacen 0 ya reemplazados.
datosmicro_limpio_2=datosmicro_limpio.isnull().sum()
datosmicro_limpio_2

_record_id                              0
_title                                  0
_server_updated_at                      0
_updated_by                             0
_geometry                               0
                                       ..
234_willingness_participate_workshop    5
318_shopkeeper_name                     5
319_shopkeepers_last_name               5
236_whatsapp                            5
235_email                               5
Length: 106, dtype: int64

In [36]:
#Filtro por columnas para seelccionar unicamente las columnas con valores numéricos y así poder calcular sus outliers
#Se filtran las columnas para escoger las de valores numéricos y calcular outliers.
datosmicro_columnas_limpio=datosmicro_limpio.iloc[ : , [5,6,13,14,16,21,22,31,42,49,51,59,29,33,78,90]]
datosmicro_columnas_limpio

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,19.053536,-98.233822,2,0.0,4,2.0,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,19.053561,-98.234142,0,4.0,8,1.0,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,19.058655,-98.232300,0,0.0,24,2.0,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,19.059293,-98.233158,0,0.0,2,1.0,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,19.059585,-98.233864,0,0.0,16,0.0,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,19.043115,-98.194066,1,0.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,19.042794,-98.193802,1,5.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,19.042809,-98.193439,3,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,19.042558,-98.193818,0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,19.042823,-98.193735,1,3.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:

#Se hace el método de cuartiles para ubicar outliers y hacerlos valores nulos.
y=datosmicro_columnas_limpio

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr=percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido" , Limite_Superior_iqr)
print("Limite inferior permitido" , Limite_Inferior_iqr)

Limite superior permitido _latitude                                            19.138774
_longitude                                          -98.075320
97_number_of_customers_in_store                       5.000000
268_number_fridges                                    5.000000
104_how_many_shelves_does_the_micro_retailer_have    16.000000
2_current_permanent_employees                         5.000000
4_number_permanent_employees_last_year                5.000000
145_number_direct_competitors                         9.500000
272_card_days_receive_money                           2.500000
276_expected_days_informal_credit                    71.250000
36_credit_default_rate                                5.000000
62_frequency_only_services                            6.875000
103_number_own_fridges                                5.000000
24_burnout                                           12.000000
172_supplier_frequency                               16.000000
163_number_high_perishable_products                  50.000000
dtype: float64
Limite inferior permitido _latitude                                            18.950047
_longitude                                          -98.355995
97_number_of_customers_in_store                      -3.000000
268_number_fridges                                   -3.000000
104_how_many_shelves_does_the_micro_retailer_have    -8.000000
2_current_permanent_employees                        -3.000000
4_number_permanent_employees_last_year               -3.000000
145_number_direct_competitors                        -2.500000
272_card_days_receive_money                          -1.500000
276_expected_days_informal_credit                   -38.750000
36_credit_default_rate                               -3.000000
62_frequency_only_services                           -4.125000
103_number_own_fridges                               -3.000000
24_burnout                                           -4.000000
172_supplier_frequency                               -8.000000
163_number_high_perishable_products                 -30.000000
dtype: float64

In [39]:
#Se encuentran los outlier con los límites establecidos.
outliers_iqr=y[(y>Limite_Superior_iqr) | (y<Limite_Inferior_iqr)]
outliers_iqr

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0
2,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#Se encuentran los datos ya limpios del datafra,e
datosmicro_limpio_3=y[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
datosmicro_limpio_3

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,19.053536,-98.233822,2.0,0.0,4.0,2.0,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,19.053561,-98.234142,0.0,4.0,8.0,1.0,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,NaN
2,19.058655,-98.232300,0.0,0.0,NaN,2.0,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,NaN
3,19.059293,-98.233158,0.0,0.0,2.0,1.0,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,19.059585,-98.233864,0.0,0.0,16.0,0.0,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,19.043115,-98.194066,1.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,19.042794,-98.193802,1.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,19.042809,-98.193439,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,19.042558,-98.193818,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,19.042823,-98.193735,1.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
#Corroboramos valores nulos y nos damos cuenta que nuevamente tenemos valores nulos por los outliers transformados que debremos llenar con algun método de valores nulos
valores_nulos=y.isnull().sum()
valores_nulos

_latitude                                             0
_longitude                                            0
97_number_of_customers_in_store                       0
268_number_fridges                                    0
104_how_many_shelves_does_the_micro_retailer_have     0
2_current_permanent_employees                         5
4_number_permanent_employees_last_year                8
145_number_direct_competitors                         5
272_card_days_receive_money                           5
276_expected_days_informal_credit                    12
36_credit_default_rate                               12
62_frequency_only_services                            5
103_number_own_fridges                                9
24_burnout                                            9
172_supplier_frequency                                5
163_number_high_perishable_products                   5
dtype: int64

In [44]:
#Reemplazamos valores atípicos del dataframe con mean
#Se hace además una copia del dataframe
datosmicro_limpio_num=y.copy()
datosmicro_limpio_num=y.fillna(round(datosmicro_limpio_num.mean(),1))
datosmicro_limpio_num

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,19.053536,-98.233822,2,0.0,4,2.0,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,19.053561,-98.234142,0,4.0,8,1.0,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,19.058655,-98.232300,0,0.0,24,2.0,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,19.059293,-98.233158,0,0.0,2,1.0,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,19.059585,-98.233864,0,0.0,16,0.0,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,19.043115,-98.194066,1,0.0,5,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
167,19.042794,-98.193802,1,5.0,5,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
168,19.042809,-98.193439,3,1.0,1,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
169,19.042558,-98.193818,0,1.0,1,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
170,19.042823,-98.193735,1,3.0,1,1.8,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9

In [45]:
#Se corroboran valores nulos donde vemos que ya todas las columnas numéricas nos dan 0
valores_nulos=datosmicro_limpio_num.isnull().sum()
valores_nulos

_latitude                                            0
_longitude                                           0
97_number_of_customers_in_store                      0
268_number_fridges                                   0
104_how_many_shelves_does_the_micro_retailer_have    0
2_current_permanent_employees                        0
4_number_permanent_employees_last_year               0
145_number_direct_competitors                        0
272_card_days_receive_money                          0
276_expected_days_informal_credit                    0
36_credit_default_rate                               0
62_frequency_only_services                           0
103_number_own_fridges                               0
24_burnout                                           0
172_supplier_frequency                               0
163_number_high_perishable_products                  0
dtype: int64

In [48]:
#Filtro por columnas para seleccionar del primer dataframe sin nulos las columnas con objetos y así poder unirlas con el numérico
datosmicro_txt=datosmicro_limpio.iloc[ : , [0,1,2,3,4,7,8,9,10,11,12,15,17,18,19,20,23,24,25,26,27,28,30,32,34,35,36,37,38,39,40,41,43,44,45,46,47,48,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,79,80,81,82,83,84,85,86,87,88,89,91,92,93,94,95,96,97,98,99,100,101,102,103,104]]
datosmicro_txt

,_record_id,_title,_server_updated_at,_updated_by,_geometry,228_store_name,229_store_picture,232_type_of_store,108_does_the_micro_retailer_has_a_barred_window_,99_does_the_micro_retailer_exhibits_products_outside_,...,260_technology_scalable,261_technology_organization,262_technology_serve_customers,263_technology_secure_sales,264_technology_budget,267_technology_investment_customer_preferences,234_willingness_participate_workshop,318_shopkeeper_name,319_shopkeepers_last_name,236_whatsapp
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),Eugene’s Compostura,1 Photo,Tailor,yes,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),no,yes,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),Libélula,1 Photo,Grocery store (aka. nanostore),yes,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),Quality fix,1 Photo,Grocery store (aka. nanostore),no,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),yes,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2413f06e-15cc-4a6f-8e83-5224c6824b12,"November 3, 2022",2022-11-03 16:50:48 UTC,Emilio Garza,SRID=4326;POINT(-98.1940658722 19.0431145635),July Store,1 Photo,Grocery store (aka. nanostore),yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,962bf5a6-1eff-4874-a627-9cd8e3ca27b4,"November 3, 2022",2022-11-03 16:28:15 UTC,Emilio Garza,SRID=4326;POINT(-98.1938023854 19.0427938182),Miscelánea rubí,1 Photo,Grocery store (aka. nanostore),no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,9ff658db-4dc5-48b6-aa0b-5c6668bb6720,"November 3, 2022",2022-11-03 16:28:14 UTC,Emilio Garza,SRID=4326;POINT(-98.1934387078 19.0428094171),La fonda,1 Photo,Micro-restaurant (aka. fondita),yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,e88aa9c1-dc8b-4180-99a1-2e0118ad905d,"November 3, 2022",2022-11-03 16:18:37 UTC,Francisco Adán,SRID=4326;POINT(-98.193818 19.042558),"Birria de Res ""Hermanos Negreros 2"" estilo Tij...",1 Photo,Micro-restaurant (aka. fondita),no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,bf720ff0-3b7d-47ed-ba49-f5d4bfb7293c,"November 3, 2022",2022-11-03 16:15:13 UTC,Emilio Garza,SRID=4326;POINT(-98.1937349172 19.0428229892),Restaurante el alfeñique,1 Photo,Micro-restaurant (aka. fondita),no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#unimos la columnas numéricas con las de texto

datos_final= pd.concat([datosmicro_txt, datosmicro_limpio_num], axis=1)
datos_final

,_record_id,_title,_server_updated_at,_updated_by,_geometry,228_store_name,229_store_picture,232_type_of_store,108_does_the_micro_retailer_has_a_barred_window_,99_does_the_micro_retailer_exhibits_products_outside_,...,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),Eugene’s Compostura,1 Photo,Tailor,yes,no,...,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),no,yes,...,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),Libélula,1 Photo,Grocery store (aka. nanostore),yes,no,...,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),Quality fix,1 Photo,Grocery store (aka. nanostore),no,no,...,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),yes,no,...,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2413f06e-15cc-4a6f-8e83-5224c6824b12,"November 3, 2022",2022-11-03 16:50:48 UTC,Emilio Garza,SRID=4326;POINT(-98.1940658722 19.0431145635),July Store,1 Photo,Grocery store (aka. nanostore),yes,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
167,962bf5a6-1eff-4874-a627-9cd8e3ca27b4,"November 3, 2022",2022-11-03 16:28:15 UTC,Emilio Garza,SRID=4326;POINT(-98.1938023854 19.0427938182),Miscelánea rubí,1 Photo,Grocery store (aka. nanostore),no,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
168,9ff658db-4dc5-48b6-aa0b-5c6668bb6720,"November 3, 2022",2022-11-03 16:28:14 UTC,Emilio Garza,SRID=4326;POINT(-98.1934387078 19.0428094171),La fonda,1 Photo,Micro-restaurant (aka. fondita),yes,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
169,e88aa9c1-dc8b-4180-99a1-2e0118ad905d,"November 3, 2022",2022-11-03 16:18:37 UTC,Francisco Adán,SRID=4326;POINT(-98.193818 19.042558),"Birria de Res ""Hermanos Negreros 2"" estilo Tij...",1 Photo,Micro-restaurant (aka. fondita),no,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9
170,bf720ff0-3b7d-47ed-ba49-f5d4bfb7293c,"November 3, 2022",2022-11-03 16:15:13 UTC,Emilio Garza,SRID=4326;POINT(-98.1937349172 19.0428229892),Restaurante el alfeñique,1 Photo,Micro-restaurant (aka. fondita),no,no,...,1.6,3.9,0.7,17.1,1.6,7.0,1.8,3.8,3.2,10.9

In [50]:
valores_nulos=datos_final.isnull().sum()
valores_nulos

_record_id                             0
_title                                 0
_server_updated_at                     0
_updated_by                            0
_geometry                              0
                                      ..
62_frequency_only_services             0
103_number_own_fridges                 0
24_burnout                             0
172_supplier_frequency                 0
163_number_high_perishable_products    0
Length: 106, dtype: int64

In [52]:
#Convertir a Csv
datos_final.to_csv("Microretailer_limpio.csv")

In [53]:
#Descargar archivo filtrado en csv
from google.colab import files
files.download("Microretailer_limpio.csv")

# ***REPETIR MISMO PROCEDIMIENTO PARA LOS OTROS TRES ARCHIVOS:***

*Lastmile*

In [54]:
#Carga desde un archivo .xlsx sin  indice para que nos nos estorbe a la hora de limpiar el archivo
consumer_mit_lift_lab=pd.read_excel('consumer_mit_lift_lab.xlsx')

In [56]:
valores_nulos_consumer=consumer_mit_lift_lab.isnull().sum()
valores_nulos_consumer

_record_id                                    0
_title                                        0
_server_updated_at                            0
_updated_by                                   0
_geometry                                     0
_latitude                                     0
_longitude                                    0
282_payment_method_that_purchase              0
283_fulfill_needs                             0
300_did_not_find                            109
237_distance_household_interviewee            0
299_means_transportation_consumer             0
238_frequency_buying_store                    0
284_additional_products_store               111
301_electricity_bill                          0
305_electricity_bill_store                    7
302_water_bill                                0
306_water_bill_store                          4
303_gas_bill                                  0
307_gas_bill_store                            3
286_topups                                    0
308_topups_in_store                          12
287_wire_transfers                            0
309_wiretransfers_in_store                    2
320_other_services_in_store                   0
304_additional_services_store                86
81_number_online_purchases_month              0
288_number_app_purchases_month                0
289_number_whatsapp_purchases_month           0
83_willingness_ultrafast_delivery             0
84_willingness_sameday_delivery               0
241_age_of_the_interviewee                    0
240_gender_interviewee                        0
indicate_the_type_of_store                    0
name_of_the_store                             0
storefront_picture_just_once_if_possible     11
dtype: int64

In [57]:
consumer_limpio=consumer_mit_lift_lab.fillna(method="ffill")
consumer_limpio

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),19.059841,-98.234980,Efectivo,no,agua de coco,...,1,0,0,0,0,35,Male,Cafeteria,Paleteria El Carmen,NaN
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),19.058479,-98.233566,Efectivo,yes,agua de coco,...,1,2,0,35,50,27,Female,Grocery store (aka. nanostore),Gerardo Saénz,NaN
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),19.062077,-98.230339,Efectivo,yes,agua de coco,...,0,0,0,40,25,42,Female,Micro-restaurant (aka. fondita),Rozt,1 Photo
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),19.055535,-98.232916,Tarjeta de débito y/o crédito,yes,agua de coco,...,2,3,0,0,0,27,Female,Cafeteria,Café Colibrí,1 Photo
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),19.059012,-98.232994,Efectivo,yes,agua de coco,...,2,5,0,0,50,35,Female,Cafeteria,La fête,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,Ablandador de agujas,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,Ablandador de agujas,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,Ablandador de agujas,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,Ablandador de agujas,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,Ablandador de agujas,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [59]:
consumer_limpio_2=consumer_limpio.isnull().sum()
consumer_limpio_2

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
_latitude                                    0
_longitude                                   0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
238_frequency_buying_store                   0
284_additional_products_store               19
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         0
303_gas_bill                                 0
307_gas_bill_store                           0
286_topups                                   0
308_topups_in_store                          0
287_wire_transfers                           0
309_wiretransfers_in_store                   0
320_other_services_in_store                  0
304_additional_services_store                8
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible     2
dtype: int64

In [60]:
consumer_limpio_num=consumer_limpio.iloc[ : , [5,6,12,26,27,28,29,30,31]]
consumer_limpio_num

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1,1,0,0,0,0,35
1,19.058479,-98.233566,1,1,2,0,35,50,27
2,19.062077,-98.230339,1,0,0,0,40,25,42
3,19.055535,-98.232916,1,2,3,0,0,0,27
4,19.059012,-98.232994,1,2,5,0,0,50,35
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1,15,10,0,100,100,15
111,19.035280,-98.267856,1,1,1,0,50,70,21
112,19.035451,-98.267862,1,3,2,0,0,0,18
113,19.035486,-98.267831,1,2,4,0,30,100,18
114,19.035399,-98.267924,1,0,3,0,150,1000,18

In [62]:
y=consumer_limpio_num

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr=percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido" , Limite_Superior_iqr)
print("Limite inferior permitido" , Limite_Inferior_iqr)

Limite superior permitido _latitude                               19.137956
_longitude                             -98.025979
238_frequency_buying_store               6.000000
81_number_online_purchases_month         6.000000
288_number_app_purchases_month          12.500000
289_number_whatsapp_purchases_month      2.500000
83_willingness_ultrafast_delivery      102.500000
84_willingness_sameday_delivery        231.250000
241_age_of_the_interviewee              65.000000
dtype: float64
Limite inferior permitido _latitude                               18.959124
_longitude                             -98.402770
238_frequency_buying_store              -2.000000
81_number_online_purchases_month        -2.000000
288_number_app_purchases_month          -7.500000
289_number_whatsapp_purchases_month     -1.500000
83_willingness_ultrafast_delivery      -37.500000
84_willingness_sameday_delivery       -118.750000
241_age_of_the_interviewee              -7.000000
dtype: float64

In [63]:
outliers_iqr_consumer=y[(y>Limite_Superior_iqr) | (y<Limite_Inferior_iqr)]
outliers_iqr_consumer

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
110,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,NaN,NaN,NaN,NaN,150.0,1000.0,NaN

In [64]:
consumer_limpio_3=y[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
consumer_limpio_3

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1.0,1.0,0.0,0.0,0.0,0.0,35.0
1,19.058479,-98.233566,1.0,1.0,2.0,0.0,35.0,50.0,27.0
2,19.062077,-98.230339,1.0,0.0,0.0,0.0,40.0,25.0,42.0
3,19.055535,-98.232916,1.0,2.0,3.0,0.0,0.0,0.0,27.0
4,19.059012,-98.232994,1.0,2.0,5.0,0.0,0.0,50.0,35.0
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1.0,NaN,10.0,0.0,100.0,100.0,15.0
111,19.035280,-98.267856,1.0,1.0,1.0,0.0,50.0,70.0,21.0
112,19.035451,-98.267862,1.0,3.0,2.0,0.0,0.0,0.0,18.0
113,19.035486,-98.267831,1.0,2.0,4.0,0.0,30.0,100.0,18.0
114,19.035399,-98.267924,1.0,0.0,3.0,0.0,NaN,NaN,18.0

In [69]:
valores_nulos_consumer=y.isnull().sum()
valores_nulos_consumer

_latitude                              0
_longitude                             0
238_frequency_buying_store             0
81_number_online_purchases_month       0
288_number_app_purchases_month         0
289_number_whatsapp_purchases_month    0
83_willingness_ultrafast_delivery      0
84_willingness_sameday_delivery        0
241_age_of_the_interviewee             0
dtype: int64

In [70]:
consumer_limpio_num2=y.copy()
consumer_limpio_num2=y.fillna(round(consumer_limpio_num2.mean(),1))
consumer_limpio_num2

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1,1,0,0,0,0,35
1,19.058479,-98.233566,1,1,2,0,35,50,27
2,19.062077,-98.230339,1,0,0,0,40,25,42
3,19.055535,-98.232916,1,2,3,0,0,0,27
4,19.059012,-98.232994,1,2,5,0,0,50,35
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1,15,10,0,100,100,15
111,19.035280,-98.267856,1,1,1,0,50,70,21
112,19.035451,-98.267862,1,3,2,0,0,0,18
113,19.035486,-98.267831,1,2,4,0,30,100,18
114,19.035399,-98.267924,1,0,3,0,150,1000,18

In [71]:
valores_nulos=consumer_limpio_num2.isnull().sum()
valores_nulos

_latitude                              0
_longitude                             0
238_frequency_buying_store             0
81_number_online_purchases_month       0
288_number_app_purchases_month         0
289_number_whatsapp_purchases_month    0
83_willingness_ultrafast_delivery      0
84_willingness_sameday_delivery        0
241_age_of_the_interviewee             0
dtype: int64

In [74]:
consumer_txt=consumer_limpio.iloc[ : , [0,1,2,3,4,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,32,33,34,35]]
consumer_txt

,_record_id,_title,_server_updated_at,_updated_by,_geometry,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,237_distance_household_interviewee,299_means_transportation_consumer,...,286_topups,308_topups_in_store,287_wire_transfers,309_wiretransfers_in_store,320_other_services_in_store,304_additional_services_store,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),Efectivo,no,agua de coco,0 a 3 cuadras,A pie,...,No lo hago,no,Banco,no,no,NaN,Male,Cafeteria,Paleteria El Carmen,NaN
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),Efectivo,yes,agua de coco,7 a 10 cuadras,A pie,...,Tienda de conveniencia (e.g. OXXO),no,Banco,no,no,NaN,Female,Grocery store (aka. nanostore),Gerardo Saénz,NaN
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),Efectivo,yes,agua de coco,más de 10 cuadras,Automóvil,...,"Supermercado,Tienda de conveniencia (e.g. OXXO)",yes,Banco,no,no,NaN,Female,Micro-restaurant (aka. fondita),Rozt,1 Photo
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),Tarjeta de débito y/o crédito,yes,agua de coco,4 a 6 cuadras,Motocicleta,...,No lo hago,no,Banco,no,no,NaN,Female,Cafeteria,Café Colibrí,1 Photo
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),Efectivo,yes,agua de coco,más de 10 cuadras,Transporte público,...,Supermercado,no,No lo hago,no,no,NaN,Female,Cafeteria,La fête,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),Efectivo,yes,Ablandador de agujas,20 min,Automóvil,...,No lo hago,no,No lo hago,no,no,Los anteriores mencionados,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),Efectivo,yes,Ablandador de agujas,30 min,Transporte público,...,No lo hago,no,No lo hago,no,no,Los anteriores mencionados,Female,Cafeteria,La parrilla del lobo,1 Photo
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),Efectivo,yes,Ablandador de agujas,0 a 3 cuadras,A pie,...,Tienda de conveniencia (e.g. OXXO),no,No lo hago,no,no,Los anteriores mencionados,Male,Cafeteria,La Parrilla del lobo,1 Photo
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),Efectivo,yes,Ablandador de agujas,más de 10 cuadras,Didi,...,Tienda de conveniencia (e.g. OXXO),no,No lo hago,no,no,Los anteriores mencionados,Male,Cafeteria,Crudopolis,1 Photo
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),Efectivo,yes,Ablandador de agujas,4 a 6 cuadras,Transporte público,...,No lo hago,no,No lo hago,no,no,Los anteriores mencionados,Male,Cafeteria,Crudopolis,1 Photo

In [75]:
datos_final_consumer= pd.concat([consumer_txt, consumer_limpio_num2], axis=1)
datos_final_consumer

,_record_id,_title,_server_updated_at,_updated_by,_geometry,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,237_distance_household_interviewee,299_means_transportation_consumer,...,storefront_picture_just_once_if_possible,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),Efectivo,no,agua de coco,0 a 3 cuadras,A pie,...,NaN,19.059841,-98.234980,1,1,0,0,0,0,35
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),Efectivo,yes,agua de coco,7 a 10 cuadras,A pie,...,NaN,19.058479,-98.233566,1,1,2,0,35,50,27
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),Efectivo,yes,agua de coco,más de 10 cuadras,Automóvil,...,1 Photo,19.062077,-98.230339,1,0,0,0,40,25,42
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),Tarjeta de débito y/o crédito,yes,agua de coco,4 a 6 cuadras,Motocicleta,...,1 Photo,19.055535,-98.232916,1,2,3,0,0,0,27
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),Efectivo,yes,agua de coco,más de 10 cuadras,Transporte público,...,1 Photo,19.059012,-98.232994,1,2,5,0,0,50,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),Efectivo,yes,Ablandador de agujas,20 min,Automóvil,...,1 Photo,19.035224,-98.267100,1,15,10,0,100,100,15
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),Efectivo,yes,Ablandador de agujas,30 min,Transporte público,...,1 Photo,19.035280,-98.267856,1,1,1,0,50,70,21
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),Efectivo,yes,Ablandador de agujas,0 a 3 cuadras,A pie,...,1 Photo,19.035451,-98.267862,1,3,2,0,0,0,18
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),Efectivo,yes,Ablandador de agujas,más de 10 cuadras,Didi,...,1 Photo,19.035486,-98.267831,1,2,4,0,30,100,18
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),Efectivo,yes,Ablandador de agujas,4 a 6 cuadras,Transporte público,...,1 Photo,19.035399,-98.267924,1,0,3,0,150,1000,18

In [76]:
valores_nulos_consumer=datos_final_consumer.isnull().sum()
valores_nulos_consumer

_record_id                                   0
_title                                       0
_server_updated_at                           0
_updated_by                                  0
_geometry                                    0
282_payment_method_that_purchase             0
283_fulfill_needs                            0
300_did_not_find                             0
237_distance_household_interviewee           0
299_means_transportation_consumer            0
284_additional_products_store               19
301_electricity_bill                         0
305_electricity_bill_store                   0
302_water_bill                               0
306_water_bill_store                         0
303_gas_bill                                 0
307_gas_bill_store                           0
286_topups                                   0
308_topups_in_store                          0
287_wire_transfers                           0
309_wiretransfers_in_store                   0
320_other_services_in_store                  0
304_additional_services_store                8
240_gender_interviewee                       0
indicate_the_type_of_store                   0
name_of_the_store                            0
storefront_picture_just_once_if_possible     2
_latitude                                    0
_longitude                                   0
238_frequency_buying_store                   0
81_number_online_purchases_month             0
288_number_app_purchases_month               0
289_number_whatsapp_purchases_month          0
83_willingness_ultrafast_delivery            0
84_willingness_sameday_delivery              0
241_age_of_the_interviewee                   0
dtype: int64

In [77]:
datos_final_consumer.to_csv("consumer_limpio.csv")

In [78]:
from google.colab import files
files.download("consumer_limpio.csv")

*lastmile*

In [86]:
lastmile_delivery_operations_mit_lift_lab=pd.read_csv('lastmile_delivery_operations_mit_lift_lab.csv')

In [87]:
valores_nulos_Lastmile=lastmile_delivery_operations_mit_lift_lab.isnull().sum()
valores_nulos_Lastmile

_record_id                                         0
_title                                             6
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             1
company_if_visible                                73
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                 147
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

In [90]:
lastmile_limpio=lastmile_delivery_operations_mit_lift_lab.fillna(method="bfill")
lastmile_limpio

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,arrival_of_the_freight_vehicle,plates,company_if_visible,...,used_traffic_cone,vehicles_unloading_door,number_of_available_trolleys,serving_customer,garage_blocking,accident,describe_the_accident,noise,traffic_congestion,maximum_number_of_vehicles_in_the_traffic_jam
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),19.056893,-98.233489,14:00,KB-7050-A,Ricolino,...,no,Side,1,1.0,yes,no,NaN,no,no,8.0
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),19.056849,-98.233484,13:50,XC8687A,Marinela,...,no,Rear,1,1.0,no,no,NaN,no,no,8.0
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),19.059677,-98.233916,11:47,SM 20745,La fete,...,no,Side,0,1.0,no,no,NaN,no,no,8.0
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),19.062695,-98.228567,11:45,SP35169,Barcel,...,no,Rear,2,1.0,yes,no,NaN,no,no,8.0
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),19.062724,-98.231397,11:41,SN89460,Agua inmaculada,...,no,Rear,2,1.0,no,no,NaN,no,no,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),19.043612,-98.194933,10:36,HL-3785-F,Infra,...,no,Rear,0,NaN,no,no,NaN,no,no,NaN
178,5656a189-19f5-45a7-b53b-1a3db0de6571,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),19.043607,-98.194856,10:33,SP-29-798,Infra,...,no,Side,0,NaN,no,no,NaN,no,no,NaN
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),19.043336,-98.194503,11:19,05-AP-6G,Infra,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),19.043576,-98.194873,11:03,LE-88-707,Alpura,...,no,Rear,0,NaN,no,no,NaN,no,no,NaN
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),19.043590,-98.194901,11:00,HL-3785-F,Bimbo,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN

In [91]:
lastmile_limpio_2=lastmile_limpio.isnull().sum()
lastmile_limpio_2

_record_id                                         0
_title                                             0
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             0
company_if_visible                                 0
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                  17
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam     28
dtype: int64

In [92]:
lastmile_limpio_num=lastmile_limpio.iloc[ : , [5,6,12,21,22,28]]
lastmile_limpio_num

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1,1,1.0,8.0
1,19.056849,-98.233484,2,1,1.0,8.0
2,19.059677,-98.233916,1,0,1.0,8.0
3,19.062695,-98.228567,1,2,1.0,8.0
4,19.062724,-98.231397,2,2,1.0,8.0
...,...,...,...,...,...,...
177,19.043612,-98.194933,1,0,NaN,NaN
178,19.043607,-98.194856,1,0,NaN,NaN
179,19.043336,-98.194503,1,1,NaN,NaN
180,19.043576,-98.194873,2,0,NaN,NaN
181,19.043590,-98.194901,2,1,NaN,NaN

In [95]:
y=lastmile_limpio_num

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr=percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido" , Limite_Superior_iqr)
print("Limite inferior permitido" , Limite_Inferior_iqr)

Limite superior permitido _latitude                                        19.123517
_longitude                                      -98.098434
number_of_operators                               3.500000
number_of_available_trolleys                      2.500000
serving_customer                                  1.000000
maximum_number_of_vehicles_in_the_traffic_jam     2.000000
dtype: float64
Limite inferior permitido _latitude                                        18.961271
_longitude                                      -98.366619
number_of_operators                              -0.500000
number_of_available_trolleys                     -1.500000
serving_customer                                  1.000000
maximum_number_of_vehicles_in_the_traffic_jam     2.000000
dtype: float64

In [96]:
outliers_iqr_Lastmile=y[(y>Limite_Superior_iqr) | (y<Limite_Inferior_iqr)]
outliers_iqr_Lastmile

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,maximum_number_of_vehicles_in_the_traffic_jam
0,NaN,NaN,NaN,NaN,NaN,8.0
1,NaN,NaN,NaN,NaN,NaN,8.0
2,NaN,NaN,NaN,NaN,NaN,8.0
3,NaN,NaN,NaN,NaN,NaN,8.0
4,NaN,NaN,NaN,NaN,NaN,8.0
...,...,...,...,...,...,...
177,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
lastmile_limpio_3=y[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
lastmile_limpio_3

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1.0,1.0,1.0,NaN
1,19.056849,-98.233484,2.0,1.0,1.0,NaN
2,19.059677,-98.233916,1.0,0.0,1.0,NaN
3,19.062695,-98.228567,1.0,2.0,1.0,NaN
4,19.062724,-98.231397,2.0,2.0,1.0,NaN
...,...,...,...,...,...,...
177,19.043612,-98.194933,1.0,0.0,NaN,NaN
178,19.043607,-98.194856,1.0,0.0,NaN,NaN
179,19.043336,-98.194503,1.0,1.0,NaN,NaN
180,19.043576,-98.194873,2.0,0.0,NaN,NaN
181,19.043590,-98.194901,2.0,1.0,NaN,NaN

In [98]:
valores_nulos=y.isnull().sum()
valores_nulos

_latitude                                         0
_longitude                                        0
number_of_operators                               0
number_of_available_trolleys                      0
serving_customer                                 17
maximum_number_of_vehicles_in_the_traffic_jam    28
dtype: int64

In [99]:
lastmile_limpio_num_2=y.copy()
lastmile_limpio_num_2=y.fillna(round(lastmile_limpio_num_2.mean(),1))
lastmile_limpio_num_2

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1,1,1.0,8.0
1,19.056849,-98.233484,2,1,1.0,8.0
2,19.059677,-98.233916,1,0,1.0,8.0
3,19.062695,-98.228567,1,2,1.0,8.0
4,19.062724,-98.231397,2,2,1.0,8.0
...,...,...,...,...,...,...
177,19.043612,-98.194933,1,0,1.0,2.9
178,19.043607,-98.194856,1,0,1.0,2.9
179,19.043336,-98.194503,1,1,1.0,2.9
180,19.043576,-98.194873,2,0,1.0,2.9
181,19.043590,-98.194901,2,1,1.0,2.9

In [100]:
valores_nulos=lastmile_limpio_num_2.isnull().sum()
valores_nulos

_latitude                                        0
_longitude                                       0
number_of_operators                              0
number_of_available_trolleys                     0
serving_customer                                 0
maximum_number_of_vehicles_in_the_traffic_jam    0
dtype: int64

In [101]:
lastmile_txt=lastmile_limpio.iloc[ : , [0,1,2,3,4,7,8,9,10,11,13,14,15,16,17,18,19,20,23,24,25,26,27]]
lastmile_txt

,_record_id,_title,_server_updated_at,_updated_by,_geometry,arrival_of_the_freight_vehicle,plates,company_if_visible,visit_purpose,type_of_vehicle,...,departure_of_the_freight_vehicle,where_was_the_vehicle_parked,while_parked_was_the_engine_running,used_traffic_cone,vehicles_unloading_door,garage_blocking,accident,describe_the_accident,noise,traffic_congestion
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),14:00,KB-7050-A,Ricolino,Delivery,Light truck or Van,...,14:10,Street - next to the curbside,no,no,Side,yes,no,NaN,no,no
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),13:50,XC8687A,Marinela,Delivery,Heavy duty truck,...,14:10,Street - next to the curbside,no,no,Rear,no,no,NaN,no,no
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),11:47,SM 20745,La fete,Delivery,Pick-up,...,12:13,Street - next to the curbside,no,no,Side,no,no,NaN,no,no
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),11:45,SP35169,Barcel,Delivery,Light truck or Van,...,11:53,Street - next to the curbside,yes,no,Rear,yes,no,NaN,no,no
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),11:41,SN89460,Agua inmaculada,Delivery,Light truck or Van,...,12:00,Dedicated unloading area (Bay),no,no,Rear,no,no,NaN,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),10:36,HL-3785-F,Infra,Delivery,Light truck or Van,...,11:00,Street - next to the curbside,no,no,Rear,no,no,NaN,no,no
178,5656a189-19f5-45a7-b53b-1a3db0de6571,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),10:33,SP-29-798,Infra,Delivery,Light truck or Van,...,10:50,Street - next to the curbside,no,no,Side,no,no,NaN,no,no
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),11:19,05-AP-6G,Infra,Delivery,Light truck or Van,...,11:21,Street - next to the curbside,no,no,Rear,no,no,NaN,no,no
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),11:03,LE-88-707,Alpura,Delivery,Pick-up,...,11:04,Street - next to the curbside,no,no,Rear,no,no,NaN,no,no
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),11:00,HL-3785-F,Bimbo,Delivery,Pick-up,...,11:08,Street - next to the curbside,yes,no,Rear,no,no,NaN,no,no

In [102]:
datos_final_lastmile= pd.concat([lastmile_txt, lastmile_limpio_num_2], axis=1)
datos_final_lastmile

,_record_id,_title,_server_updated_at,_updated_by,_geometry,arrival_of_the_freight_vehicle,plates,company_if_visible,visit_purpose,type_of_vehicle,...,accident,describe_the_accident,noise,traffic_congestion,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,maximum_number_of_vehicles_in_the_traffic_jam
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),14:00,KB-7050-A,Ricolino,Delivery,Light truck or Van,...,no,NaN,no,no,19.056893,-98.233489,1,1,1.0,8.0
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),13:50,XC8687A,Marinela,Delivery,Heavy duty truck,...,no,NaN,no,no,19.056849,-98.233484,2,1,1.0,8.0
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),11:47,SM 20745,La fete,Delivery,Pick-up,...,no,NaN,no,no,19.059677,-98.233916,1,0,1.0,8.0
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),11:45,SP35169,Barcel,Delivery,Light truck or Van,...,no,NaN,no,no,19.062695,-98.228567,1,2,1.0,8.0
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),11:41,SN89460,Agua inmaculada,Delivery,Light truck or Van,...,no,NaN,no,no,19.062724,-98.231397,2,2,1.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),10:36,HL-3785-F,Infra,Delivery,Light truck or Van,...,no,NaN,no,no,19.043612,-98.194933,1,0,1.0,2.9
178,5656a189-19f5-45a7-b53b-1a3db0de6571,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),10:33,SP-29-798,Infra,Delivery,Light truck or Van,...,no,NaN,no,no,19.043607,-98.194856,1,0,1.0,2.9
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),11:19,05-AP-6G,Infra,Delivery,Light truck or Van,...,no,NaN,no,no,19.043336,-98.194503,1,1,1.0,2.9
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),11:03,LE-88-707,Alpura,Delivery,Pick-up,...,no,NaN,no,no,19.043576,-98.194873,2,0,1.0,2.9
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),11:00,HL-3785-F,Bimbo,Delivery,Pick-up,...,no,NaN,no,no,19.043590,-98.194901,2,1,1.0,2.9

In [103]:
valores_nulos_lastmile=datos_final_lastmile.isnull().sum()
valores_nulos_lastmile

_record_id                                         0
_title                                             0
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
arrival_of_the_freight_vehicle                     0
plates                                             0
company_if_visible                                 0
visit_purpose                                      0
type_of_vehicle                                    0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
_latitude                                          0
_longitude                                         0
number_of_operators                                0
number_of_available_trolleys                       0
serving_customer                                   0
maximum_number_of_vehicles_in_the_traffic_jam      0
dtype: int64

In [104]:
datos_final_lastmile.to_csv("lastmile_limpio.csv")

In [105]:
from google.colab import files
files.download("lastmile_limpio.csv")

***Costumer***

In [109]:
lastmile_delivery_operations_mit_lift_lab_serving_customer=pd.read_csv('lastmile_delivery_operations_mit_lift_lab_serving_customer.csv')

In [110]:
valores_nulos_costumer=lastmile_delivery_operations_mit_lift_lab_serving_customer.isnull().sum()
valores_nulos_costumer

_child_record_id                           0
_record_id                                 0
_parent_id                                 0
_title                                     0
_version                                   0
_created_at                                0
_updated_at                                0
_created_by                                0
_updated_by                                0
_index                                     0
_geometry                                  0
_latitude                                  0
_longitude                                 0
_changeset_id                              0
_created_duration                          0
_updated_duration                          0
_edited_duration                           0
name_of_the_store                          0
entering_the_store                         0
number_of_customers_in_store               0
number_of_suppliers_in_store               0
picture_cargo_being_delivered             10
picture_cargo_being_delivered_captions    33
picture_cargo_being_delivered_urls        10
number_of_cases_boxes_delivered            0
trolley_in_use                             0
leaving_the_store                          0
dtype: int64

In [111]:
costumer_limpio=consumer_mit_lift_lab.fillna(method="ffill")
costumer_limpio

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),19.059841,-98.234980,Efectivo,no,agua de coco,...,1,0,0,0,0,35,Male,Cafeteria,Paleteria El Carmen,NaN
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),19.058479,-98.233566,Efectivo,yes,agua de coco,...,1,2,0,35,50,27,Female,Grocery store (aka. nanostore),Gerardo Saénz,NaN
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),19.062077,-98.230339,Efectivo,yes,agua de coco,...,0,0,0,40,25,42,Female,Micro-restaurant (aka. fondita),Rozt,1 Photo
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),19.055535,-98.232916,Tarjeta de débito y/o crédito,yes,agua de coco,...,2,3,0,0,0,27,Female,Cafeteria,Café Colibrí,1 Photo
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),19.059012,-98.232994,Efectivo,yes,agua de coco,...,2,5,0,0,50,35,Female,Cafeteria,La fête,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,Ablandador de agujas,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,Ablandador de agujas,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,Ablandador de agujas,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,Ablandador de agujas,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,Ablandador de agujas,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [112]:
costumer_limpio_2=lastmile_delivery_operations_mit_lift_lab_serving_customer.isnull().sum()
costumer_limpio_2

_child_record_id                           0
_record_id                                 0
_parent_id                                 0
_title                                     0
_version                                   0
_created_at                                0
_updated_at                                0
_created_by                                0
_updated_by                                0
_index                                     0
_geometry                                  0
_latitude                                  0
_longitude                                 0
_changeset_id                              0
_created_duration                          0
_updated_duration                          0
_edited_duration                           0
name_of_the_store                          0
entering_the_store                         0
number_of_customers_in_store               0
number_of_suppliers_in_store               0
picture_cargo_being_delivered             10
picture_cargo_being_delivered_captions    33
picture_cargo_being_delivered_urls        10
number_of_cases_boxes_delivered            0
trolley_in_use                             0
leaving_the_store                          0
dtype: int64

In [113]:
costumer_limpio_num=costumer_limpio.iloc[ : , [5,6,12,26,27,28,29,30,31]]
costumer_limpio_num

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1,1,0,0,0,0,35
1,19.058479,-98.233566,1,1,2,0,35,50,27
2,19.062077,-98.230339,1,0,0,0,40,25,42
3,19.055535,-98.232916,1,2,3,0,0,0,27
4,19.059012,-98.232994,1,2,5,0,0,50,35
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1,15,10,0,100,100,15
111,19.035280,-98.267856,1,1,1,0,50,70,21
112,19.035451,-98.267862,1,3,2,0,0,0,18
113,19.035486,-98.267831,1,2,4,0,30,100,18
114,19.035399,-98.267924,1,0,3,0,150,1000,18

In [114]:
y=costumer_limpio_num

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr=percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido" , Limite_Superior_iqr)
print("Limite inferior permitido" , Limite_Inferior_iqr)

Limite superior permitido _latitude                               19.137956
_longitude                             -98.025979
238_frequency_buying_store               6.000000
81_number_online_purchases_month         6.000000
288_number_app_purchases_month          12.500000
289_number_whatsapp_purchases_month      2.500000
83_willingness_ultrafast_delivery      102.500000
84_willingness_sameday_delivery        231.250000
241_age_of_the_interviewee              65.000000
dtype: float64
Limite inferior permitido _latitude                               18.959124
_longitude                             -98.402770
238_frequency_buying_store              -2.000000
81_number_online_purchases_month        -2.000000
288_number_app_purchases_month          -7.500000
289_number_whatsapp_purchases_month     -1.500000
83_willingness_ultrafast_delivery      -37.500000
84_willingness_sameday_delivery       -118.750000
241_age_of_the_interviewee              -7.000000
dtype: float64

In [115]:
costumer_limpio_3=y[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
costumer_limpio_3

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1.0,1.0,0.0,0.0,0.0,0.0,35.0
1,19.058479,-98.233566,1.0,1.0,2.0,0.0,35.0,50.0,27.0
2,19.062077,-98.230339,1.0,0.0,0.0,0.0,40.0,25.0,42.0
3,19.055535,-98.232916,1.0,2.0,3.0,0.0,0.0,0.0,27.0
4,19.059012,-98.232994,1.0,2.0,5.0,0.0,0.0,50.0,35.0
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1.0,NaN,10.0,0.0,100.0,100.0,15.0
111,19.035280,-98.267856,1.0,1.0,1.0,0.0,50.0,70.0,21.0
112,19.035451,-98.267862,1.0,3.0,2.0,0.0,0.0,0.0,18.0
113,19.035486,-98.267831,1.0,2.0,4.0,0.0,30.0,100.0,18.0
114,19.035399,-98.267924,1.0,0.0,3.0,0.0,NaN,NaN,18.0

In [116]:
valores_nulos=y.isnull().sum()
valores_nulos

_latitude                              0
_longitude                             0
238_frequency_buying_store             0
81_number_online_purchases_month       0
288_number_app_purchases_month         0
289_number_whatsapp_purchases_month    0
83_willingness_ultrafast_delivery      0
84_willingness_sameday_delivery        0
241_age_of_the_interviewee             0
dtype: int64

In [117]:
costumer_limpio_num_2=y.copy()
costumer_limpio_num_2=y.fillna(round(costumer_limpio_num_2.mean(),1))
costumer_limpio_num_2

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1,1,0,0,0,0,35
1,19.058479,-98.233566,1,1,2,0,35,50,27
2,19.062077,-98.230339,1,0,0,0,40,25,42
3,19.055535,-98.232916,1,2,3,0,0,0,27
4,19.059012,-98.232994,1,2,5,0,0,50,35
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1,15,10,0,100,100,15
111,19.035280,-98.267856,1,1,1,0,50,70,21
112,19.035451,-98.267862,1,3,2,0,0,0,18
113,19.035486,-98.267831,1,2,4,0,30,100,18
114,19.035399,-98.267924,1,0,3,0,150,1000,18

In [118]:
valores_nulos=costumer_limpio_num_2.isnull().sum()
valores_nulos

_latitude                              0
_longitude                             0
238_frequency_buying_store             0
81_number_online_purchases_month       0
288_number_app_purchases_month         0
289_number_whatsapp_purchases_month    0
83_willingness_ultrafast_delivery      0
84_willingness_sameday_delivery        0
241_age_of_the_interviewee             0
dtype: int64

In [119]:
costumer_txt=costumer_limpio.iloc[ : , [0,1,2,3,4,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25]]
costumer_txt

,_record_id,_title,_server_updated_at,_updated_by,_geometry,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,237_distance_household_interviewee,299_means_transportation_consumer,...,302_water_bill,306_water_bill_store,303_gas_bill,307_gas_bill_store,286_topups,308_topups_in_store,287_wire_transfers,309_wiretransfers_in_store,320_other_services_in_store,304_additional_services_store
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),Efectivo,no,agua de coco,0 a 3 cuadras,A pie,...,Sistema de agua,no,Proveedor de gas,no,No lo hago,no,Banco,no,no,NaN
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),Efectivo,yes,agua de coco,7 a 10 cuadras,A pie,...,Sistema de agua,no,Proveedor de gas,no,Tienda de conveniencia (e.g. OXXO),no,Banco,no,no,NaN
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),Efectivo,yes,agua de coco,más de 10 cuadras,Automóvil,...,Tienda de conveniencia (e.g. OXXO),yes,Proveedor de gas,yes,"Supermercado,Tienda de conveniencia (e.g. OXXO)",yes,Banco,no,no,NaN
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),Tarjeta de débito y/o crédito,yes,agua de coco,4 a 6 cuadras,Motocicleta,...,Supermercado,no,Proveedor de gas,no,No lo hago,no,Banco,no,no,NaN
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),Efectivo,yes,agua de coco,más de 10 cuadras,Transporte público,...,Supermercado,no,Proveedor de gas,no,Supermercado,no,No lo hago,no,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),Efectivo,yes,Ablandador de agujas,20 min,Automóvil,...,No lo hago,no,No lo hago,no,No lo hago,no,No lo hago,no,no,Los anteriores mencionados
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),Efectivo,yes,Ablandador de agujas,30 min,Transporte público,...,No lo hago,no,No lo hago,no,No lo hago,no,No lo hago,no,no,Los anteriores mencionados
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),Efectivo,yes,Ablandador de agujas,0 a 3 cuadras,A pie,...,No lo hago,no,No lo hago,no,Tienda de conveniencia (e.g. OXXO),no,No lo hago,no,no,Los anteriores mencionados
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),Efectivo,yes,Ablandador de agujas,más de 10 cuadras,Didi,...,No lo hago,no,No lo hago,no,Tienda de conveniencia (e.g. OXXO),no,No lo hago,no,no,Los anteriores mencionados
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),Efectivo,yes,Ablandador de agujas,4 a 6 cuadras,Transporte público,...,No lo hago,no,No lo hago,no,No lo hago,no,No lo hago,no,no,Los anteriores mencionados

In [120]:
datos_final_costumer= pd.concat([costumer_txt, costumer_limpio_num_2], axis=1)
datos_final_costumer

,_record_id,_title,_server_updated_at,_updated_by,_geometry,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,237_distance_household_interviewee,299_means_transportation_consumer,...,304_additional_services_store,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),Efectivo,no,agua de coco,0 a 3 cuadras,A pie,...,NaN,19.059841,-98.234980,1,1,0,0,0,0,35
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),Efectivo,yes,agua de coco,7 a 10 cuadras,A pie,...,NaN,19.058479,-98.233566,1,1,2,0,35,50,27
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),Efectivo,yes,agua de coco,más de 10 cuadras,Automóvil,...,NaN,19.062077,-98.230339,1,0,0,0,40,25,42
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),Tarjeta de débito y/o crédito,yes,agua de coco,4 a 6 cuadras,Motocicleta,...,NaN,19.055535,-98.232916,1,2,3,0,0,0,27
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),Efectivo,yes,agua de coco,más de 10 cuadras,Transporte público,...,NaN,19.059012,-98.232994,1,2,5,0,0,50,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),Efectivo,yes,Ablandador de agujas,20 min,Automóvil,...,Los anteriores mencionados,19.035224,-98.267100,1,15,10,0,100,100,15
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),Efectivo,yes,Ablandador de agujas,30 min,Transporte público,...,Los anteriores mencionados,19.035280,-98.267856,1,1,1,0,50,70,21
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),Efectivo,yes,Ablandador de agujas,0 a 3 cuadras,A pie,...,Los anteriores mencionados,19.035451,-98.267862,1,3,2,0,0,0,18
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),Efectivo,yes,Ablandador de agujas,más de 10 cuadras,Didi,...,Los anteriores mencionados,19.035486,-98.267831,1,2,4,0,30,100,18
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),Efectivo,yes,Ablandador de agujas,4 a 6 cuadras,Transporte público,...,Los anteriores mencionados,19.035399,-98.267924,1,0,3,0,150,1000,18

In [121]:
valores_nulos_costumer=datos_final_costumer.isnull().sum()
valores_nulos_costumer

_record_id                              0
_title                                  0
_server_updated_at                      0
_updated_by                             0
_geometry                               0
282_payment_method_that_purchase        0
283_fulfill_needs                       0
300_did_not_find                        0
237_distance_household_interviewee      0
299_means_transportation_consumer       0
284_additional_products_store          19
301_electricity_bill                    0
305_electricity_bill_store              0
302_water_bill                          0
306_water_bill_store                    0
303_gas_bill                            0
307_gas_bill_store                      0
286_topups                              0
308_topups_in_store                     0
287_wire_transfers                      0
309_wiretransfers_in_store              0
320_other_services_in_store             0
304_additional_services_store           8
_latitude                               0
_longitude                              0
238_frequency_buying_store              0
81_number_online_purchases_month        0
288_number_app_purchases_month          0
289_number_whatsapp_purchases_month     0
83_willingness_ultrafast_delivery       0
84_willingness_sameday_delivery         0
241_age_of_the_interviewee              0
dtype: int64

In [123]:
datos_final_costumer.to_csv("costumer_limpio.csv")

In [124]:
from google.colab import files
files.download("costumer_limpio.csv")